html {
  font-size: var(--font-size-m);
  font-family: Roboto;
  height: 100%;

  @media (min-width: 900px) {
    font-size: var(--font-size);
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    
  }
}

main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    color: yellow;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: var(--h2-font-size);
}

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}